<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YUMYUM.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".RecipeSearchActivity"
            android:exported="true" />
        <activity
            android:name=".MyPageActivity"
            android:exported="true" />
        <activity
            android:name=".RecipeStartActivity"
            android:exported="true" />
        <activity
            android:name=".RecipeContinueActivity"
            android:exported="true" />
        <activity
            android:name=".JoinActivity"
            android:exported="true"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".CommunityDetailActivity"
            android:exported="true"
            android:label="글 상세페이지" />
        <activity
            android:name=".ListItem"
            android:exported="true" />
        <activity
            android:name=".ListAdapter"
            android:exported="true" />
        <activity
            android:name=".CommnunityActivity"
            android:exported="true" />
        <activity
            android:name=".CommunityEnrollActivity"
            android:exported="true"
            android:label="글쓰는 창" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".RecipeApplicationEnrollActivity"
            android:exported="true"
            android:label="레시피 신청" />
        <activity
            android:name=".CommunityActivity"
            android:exported="true"
            android:label="커뮤니티" />
        <activity
            android:name=".EditMemberInfoActivity"
            android:exported="true"
            android:label="EditMemberInfoActivity" />
        <activity
            android:name=".SidebarActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>